<section class="blog-section section-offset">
  <div class="container">
    <ul class="list-reset blog-section__items grid">
      <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/01.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Entertainment Goes Virtual: The Rise of VR Gaming</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/02.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Entertainment Goes Virtual: The Rise of VR Gaming</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/03.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Making Events Memorable: The Power of VR for Corporate and Special Occasions</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/04.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Exploring New Worlds: The Benefits of VR Travel</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/05.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Bringing Designs to Life: How VR is Changing Architecture</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/06.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Entertainment Goes Virtual: The Rise of VR Gaming</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/07.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Entertainment Goes Virtual: The Rise of VR Gaming</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/08.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">Entertainment Goes Virtual: The Rise of VR Gaming</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
       <li class="blog-section__item">
        <article class="blog-post">
          <a class="blog-post__img-link" href="#">
            <img class="blog-post__img" width="377" height="252" src="img/posts/09.jpg" alt="">
          </a>
          <div class="blog-post__body">
            <a href="#" class="blog-post__category post-category">VR Games</a>
            <a class="blog-post__link-title post-link-title" href="#">
              <h3 class="blog-post__title post-title">The Future of Education: How VR is Revolutionizing the Classroom</h3>
            </a>
            <a class="blog-post__link" href="#">read more</a>
          </div>
        </article>
      </li>
    </ul>
      <ul class="list-reset pagination">
        <li class="pagination__item">
          <a class="pagination__link pagination__link--current">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">3</a>
        </li>
      </ul>
  </div>
</section>
