<section class="about-us-section section-offset">
  <div class="container about-us-section__container grid">
    <div class="about-us-section__images">
      <div class="about-us-section__img-block">
        <img class="about-us-section__img" width="399" height="574" src="img/price-man.png" aria-hidden="true" alt="">
      </div>
      <div class="about-us-section__video thumb-video thumb-video--about-sec">
        <button class="btn-reset thumb-video__btn lazy-play" data-lazy-btn="vr" data-lazy-iframe data-graph-path="vr"
          data-video-src="https://www.youtube.com/embed/bdc9rcrZW8I?si=dp6g1HcZAQCuCFOM" aria-label="Play video">
          <img class="thumb-video__btn-img" src="img/thumbs/hero.png" width="130" height="88" aria-hidden="true"
            loading="lazy" alt="">
          <svg class="thumb-video__btn-play">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="about-us-section__content">
      <div class="header-block about-us-section__header">
        <div class="header-block__label">About us</div>
        <h2 class="header-block__title">Bringing Your Vision to Life: Learn About VRNas</h2>
        <div class="header-block__text">
          <p>
            VRNas is a leading provider of VR services for education, entertainment,
            architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to
            explore new worlds, learn in new ways, and experience events in a whole new light.
          </p>
          <p>
            Our team consists of experienced VR developers, designers, and technicians who are passionate about VR and
            dedicated to delivering the highest quality work. We use the latest VR hardware and software to create
            immersive, interactive experiences that are tailored to your specific needs.
          </p>
          <p>
            From initial consultation to final delivery, we are committed to providing exceptional customer service. Our
            goal is to ensure that you are completely satisfied with every aspect of your VR experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
