<section class="team-about section-offset">
  <div class="container">
    <div class="team-about__header header-block">
      <div class="header-block__top">
        <div class="header-block__label">Our team</div>
        <h2 class="header-block__title">Our Professionals Team</h2>
      </div>
      <a href="#" class="header-block__btn btn btn--blur"><span>See all</span></a>
    </div>
    <ul class="list-reset team-about__list grid">
      <li class="team-about__item">
        <div class="team-member">
          <a class="team-member__link" href="#"></a>
          <div class="team-member__inner" style="background-image: url('img/team/01.jpg');">
            <div class="team-member__pro">
              <ul class="list-reset team-member__social social social--transparent">
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/instagram.svg" alt="instagram">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/facebook.svg" alt="facebook">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/twitter.svg" alt="twitter">
                  </a>
                </li>
              </ul>
              <span class="team-member__name">Bondan Prabowo</span>
              <span class="team-member__pos">CEO</span>
            </div>
          </div>
        </div>
      </li>
      <li class="team-about__item">
        <div class="team-member">
          <a class="team-member__link" href="#"></a>
          <div class="team-member__inner" style="background-image: url('img/team/02.jpg');">
            <div class="team-member__pro">
              <ul class="list-reset team-member__social social social--transparent">
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/instagram.svg" alt="instagram">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/facebook.svg" alt="facebook">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/twitter.svg" alt="twitter">
                  </a>
                </li>
              </ul>
              <span class="team-member__name">Bondan Prabowo</span>
              <span class="team-member__pos">CEO</span>
            </div>
          </div>
        </div>
      </li>
      <li class="team-about__item">
        <div class="team-member">
          <a class="team-member__link" href="#"></a>
          <div class="team-member__inner" style="background-image: url('img/team/03.jpg');">
            <div class="team-member__pro">
              <ul class="list-reset team-member__social social social--transparent">
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/instagram.svg" alt="instagram">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/facebook.svg" alt="facebook">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/twitter.svg" alt="twitter">
                  </a>
                </li>
              </ul>
              <span class="team-member__name">Bondan Prabowo</span>
              <span class="team-member__pos">CEO</span>
            </div>
          </div>
        </div>
      </li>
      <li class="team-about__item">
        <div class="team-member">
          <a class="team-member__link" href="#"></a>
          <div class="team-member__inner" style="background-image: url('img/team/04.jpg');">
            <div class="team-member__pro">
              <ul class="list-reset team-member__social social social--transparent">
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/instagram.svg" alt="instagram">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/facebook.svg" alt="facebook">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#" target="_blank">
                    <img class="social__img" src="img/svg-no-sprite/twitter.svg" alt="twitter">
                  </a>
                </li>
              </ul>
              <span class="team-member__name">Bondan Prabowo</span>
              <span class="team-member__pos">CEO</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="centered"><a href="#" class="team-about__btn btn btn--transparent"><span>See all</span></a></div>
  </div>
</section>
