.hero {
  position: relative;
  padding-top: 130px;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.7s ease-out;

  &.--watcher-view {
    opacity: 1;
    transform: scale(1);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
  }


  &::before {
      right: 0;
      top: 0;
      width: 736px;
      height: 354px;
      background: url('../img/wave-decor.png') 0 0 / 100% 100% no-repeat;
    }

    &::after {
      left: 0;
      bottom: 105px;
      width: 1097px;
      height: 719px;
      background: url('../img/cell.png') 0 0 / 100% 100% no-repeat;
    }

    @include small-tablet {
      &::before {
        width: 430px;
        height: 207px;
      }
    }

    &__top {
      align-items: end;
    }

  &__content {
    grid-column: 6 span;
    padding-bottom: 72px;

    @include tablet {
      grid-column: 7 span;
    }

    @include small-tablet {
      grid-column: 12 span;
      padding-bottom: 0;
    }
  }


  &__images {
    position: relative;
    display: flex;
    justify-content: flex-end;
    grid-column: 6 span;
    text-align: right;

    @include tablet {
      grid-column: 5 span;
    }

    @include small-tablet {
      display: block;
      margin-top: -10px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -164px;
      top: -102px;
      z-index: 1;
      width: 150%;
      height: 150%;
      background: url('../img/light.png') 0 0 / 100% 100% no-repeat;
      pointer-events: none;
    }

    @include small-tablet {
      grid-column: 12 span;

      &::before {
        left: 26%;
        top: -70px;
      }
    }
  }

  &__img {
      position: relative;
      z-index: 2;

      @include small-tablet {
        width: 354px;
        height: 422px;
        transform: translateX(37%);
      }
  }

  &__header {
    margin-bottom: 42px;

    @include small-tablet {
      margin-bottom: 32px;
    }
  }
}

.content-hero {
  &__clients {
    display: flex;
    opacity: 0;
    transition: opacity 0.7s ease-out;
    transition-delay: 1.8s;
    gap: 5px 15px;

    .--watcher-view & {
      opacity: 1;
      transition: opacity 0.7s ease-out;
      transition-delay: 1.8s;
    }
  }

  &__clients-img {
    &:not(:first-child) {
      margin-left: -16px;
    }
  }

  &__clients-descr {
    align-self: center;
    margin: 0;
    padding-left: 5px;
    font: var(--Button-2);
    color: var(--greyscale-grey-2);



    span {
      position: relative;
      font-weight: 600;
      color: var(--greyscale-white);

      &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 15px;
      width: 48px;
      height: 7px;
      background: url('../img/feather-decor.svg') 0 0 / cover  no-repeat;
    }
    }
  }

  .header-block__title {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .header-block__text {
    max-width: 460px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @include min-desktop {
      padding-right: 35px;
    }

    @include small-tablet {
      display: block;
    }
  }

  &__video {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.7s ease-out,  transform 0.7s ease-out;
    transition-delay: 2.2s;

    .--watcher-view & {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.7s ease-out,  transform 0.7s ease-out;
      transition-delay: 2.2s;
    }

    @include small-tablet {
      position: absolute;
      left: 0;
      top: 150px;
      z-index: 2;
    }
  }
}
