.service-section {
  --top1: 57px;
  --top2: 78px;

  &__header {
    padding-right: 42px;

    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  .header-block {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .header-block__text {
    justify-self: end;
    max-width: 625px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: calc(var(--top1) + var(--top2));
    gap: 32px 36px;
  }
}

.item-service {
  position: relative;
  align-self: end;
  padding: 146px 32px 0;
  transition: all 0.3s;

  &:nth-child(3n-1) {
    top: var(--top1);

    // margin-top: var(--top1);
  }

  &:nth-child(3n) {
    top: calc(var(--top1) + var(--top2));

    // margin-top: calc(var(--top1) + var(--top2));
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--greyscale-black-80);
  }

  &::after {
    content: '';
    position: absolute;
    left: 32px;
    top: 38px;
    z-index: 3;
    -webkit-mask-image: url('../img/sprite.svg#development');
    mask-image: url('../img/sprite.svg#development');
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 48px;
    height: 48px;
    background-image: var(--main-colors-linear);

  }

  &__decor {
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--main-colors-linear-border);
      opacity: 1;
      transition: all 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--main-colors-linear);
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__info {
    position: relative;
    z-index: 3;
    padding-bottom: 51px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: var(--main-colors-linear-blur);
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;
    font: var(--Heading-7);
    color: var(--greyscale-white);
  }

  &__text {
    margin: 0;
    font: var(--Body-2);
    color: var(--greyscale-grey-1);
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 31px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.06);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: opacity 0.3s, visibility 0.3s;

    span {
      font: var(--Button-1);
      letter-spacing: 0.11em;
      text-transform: uppercase;
      color: var(--greyscale-white);
      transition: color 0.3s;
    }
  }

  @include hover {
    .item-service__decor {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    .item-service__info {
      &::before {
        opacity: 1;
      }
    }

    .item-service__btn {
      opacity: 1;
      visibility: visible;
    }
  }
}


