<div class="advantages">
  <div class="advantages__inner">
    <div class="advantages__item advantages__item--expertise">
      <div class="advantages__icon-block">
        <img class="advantages__icon" src="../../img/svg-no-sprite/expertise.svg" width="70" height="70" alt="expertise">
      </div>
      <h3 class="advantages__title">Expertise</h3>
      <p class="advantages__text">Our team consists of experienced VR developers, designers, and technicians who have a
        passion for VR and a commitment to delivering quality work and give the best service</p>
    </div>
    <div class="advantages__item advantages__item--customization">
      <div class="advantages__icon-block">
        <img class="advantages__icon" src="../../img/svg-no-sprite/customization.svg" width="70" height="70" alt="customization">
      </div>
      <h3 class="advantages__title">Customization</h3>
      <p class="advantages__text">Every client is unique, and we believe every VR experience should be too. We'll work
        with you to create a customized solution that meets your specific needs and goals</p>
    </div>
    <div class="advantages__item advantages__item--service">
      <div class="advantages__icon-block">
        <img class="advantages__icon" src="../../img/svg-no-sprite/service.svg" width="70" height="70" alt="service">
      </div>
      <h3 class="advantages__title">Service</h3>
      <p class="advantages__text">We believe in providing exceptional customer service, from initial consultation to
        final delivery. Our goal is to ensure you're satisfied with every aspect of your VR experience.</p>
    </div>
  </div>
</div>
