<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="hero" id="hero">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="lazy-video" data-lazy-video="hero"></div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="vr" id="vr">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="lazy-video" data-lazy-video="vr"></div>
    </div>
  </div>
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="vr-2" id="vr-2">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="lazy-video" data-lazy-video="vr-2"></div>
    </div>
  </div>
</div>
