<form class="subscribe-form">
  <div class="container">
    <div class="subscribe-form__inner">
      <h2 class="subscribe-form__title">Subscribe to our newsletter for latest updates</h2>
      <div class="subscribe-form__body">
        <input class="subscribe-form__input" type="text" placeholder="Enter your email address">
        <button class="subscribe-form__btn btn-reset" type="submit">
          <img src="img/svg-no-sprite/subscribe.svg" aria-hidden="true" alt="">
        </button>
      </div>
    </div>
  </div>
</form>