/*
https://www.youtube.com/watch?v=hdvLnIteUoI
*/

// Проще всего использовать функции в SCSS, которые автоматически вычислят среднее значение.

// Пример функции для размеров в rem
@function adaptive_rem($min, $width, $max) {
	$min_rem: #{$min + rem};
	$max_rem: #{$max + rem};
	$width_vw: #{calc(round(($max * 16) / ($width / 100) * 100000) / 100000) + vw};

	@return clamp($min_rem, $width_vw, $max_rem);
}

/*
Пример подключения функции, если максимальный шрифт 2rem, минимальный 1.5rem и он должен уменьшаться, когда разрешение экрана меньше 600px
font-size: clm_rem(1.5, 600, 2);
*/

// Пример функции для размеров в px
@function adaptive_px($min, $width, $max) {
	$min_px: #{$min + px};
	$max_px: #{$max + px};
	$width_vw: #{calc(round($max / ($width / 100) * 100000) / 100000) + vw};

	@return clamp($min_px, $width_vw, $max_px);
}

/*
Подключаем функцию для уменьшения отступов в блоке. Максимальный отступ 30px, минимальный 20px. Отступ должен уменьшаться при разрешении меньше 600px
padding: clm_px(20, 600, 30);
*/
