/* stylelint-disable */

@mixin burger {
  --burger-width: 32px;
  --burger-height: 32px;
  --burger-line-height: 1px;

  position: relative;
  border-style: solid;
  border-width: 1px;
  border-image: var(--main-colors-linear) 1;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--greyscale-white);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 10px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    width: 10px;
    top: calc(50% - 3px);
  }

  &::after {
    width: 4px;
    bottom: calc(50% - 3px);
  }

  &__line {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 7px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      width: 10px;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    .burger__line {
      opacity: 0;
      visibility: hidden;
    }
  }
}
