.advantages {
  position: relative;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-image: var( --main-colors-linear-border) 1;

    &__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: adaptive_px(36, 1232, 42) adaptive_px(36, 1232, 64);
      background-color: var(--greyscale-black-80);
      gap: 55px adaptive_px(25, 1232, 50);

      @include small-tablet {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      position: relative;
    }

    &__icon-block {
      &:not(:last-child) {
        margin-bottom: 42px;
      }
    }


    &__title {
      margin: 0;
      margin-bottom: 17px;
      font: var(--Heading-7);
      color: var(--greyscale-white);
    }

    &__text {
      margin: 0;
      font: var(--Body-2);
      color: var(--greyscale-grey-1);
    }
}
