.btn {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-image: var(--main-colors-linear) 1;
  padding: 16px 37px;
  text-align: center;

  span {
    position: relative;
    z-index: 2;
    font: var(--Button-1);
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: var(--greyscale-white);
    transition: color 0.3s;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--main-colors-linear);
    opacity: 1;
    transition: all 0.3s;
  }

  @include focus-visible;

  @include hover {
    &::before {
      opacity: 0;
    }
  }

  &:active {
    span {
      color: var(--main-colors-purple);
    }
  }

  &--transparent {
    padding: 12px 24px;
    min-width: 128px;
    background: transparent;

    span {
      font: var(--Button-2);
      letter-spacing: normal;
      text-transform: none;
    }

    &::before {
      background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
      opacity: 0;
    }

    @include hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--greyscale-white);
    padding: 0;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.06);

    &::before {
      background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
      opacity: 0;
    }

    img {
      position: relative;
      z-index: 2;
      opacity: 1;
      transition: opacity 0.3s;
    }

    @include hover {
      &::before {
        opacity: 1;
      }
    }

    &:active {
      img {
        opacity: 0;
      }
    }
  }
}
