.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  &--transparent {
    gap: 24px;

    .social__link {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 46px;
    height: 46px;
    color: var(--greyscale-white);
    background-color: var(--greyscale-black-100);
    transition: background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      mask:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(#fff, #fff);
      mask-composite: exclude;
      border: inherit;
      border-radius: inherit;
      width: 46px;
      height: 46px;
      background: var(--main-colors-linear) border-box;
      transition: opacity 0.3s;
      translate: -50% -50%;
    }

    @include focus-visible;

    @include hover {
      background-color: var(--main-colors-purple);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  &__img {
    width: 23px;
    height: 23px;
    object-fit: contain;
  }
}
