<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__left">
        <a class="logo footer-top__left-logo" href="/">
          <img class="logo__img" src="img/logo.svg" width="101" height="30" alt="Vrnas logo">
        </a>
        <ul class="list-reset social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
             <img class="social__img" src="img/svg-no-sprite/twitter.svg" alt="twitter">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <img class="social__img" src="img/svg-no-sprite/facebook.svg" alt="facebook">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <img class="social__img" src="img/svg-no-sprite/instagram.svg" alt="instagram">
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <img class="social__img" src="img/svg-no-sprite/github.svg" alt="github">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-top__right">
        <div class="footer-top__right-column">
          <h3 class="footer-top__right-title">Quicklinks</h3>
          <ul class="list-reset footer-top__right-list">
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Home</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Pricing Plan</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Service</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Blog</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Our Team</a>
            </li>
          </ul>
        </div>
        <div class="footer-top__right-column">
          <h3 class="footer-top__right-title">Support</h3>
          <ul class="list-reset footer-top__right-list">
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">About us</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Contact us</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">FAQ</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Tems & Conditions</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link" href="#" target="_blank">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer-top__right-column">
          <h3 class="footer-top__right-title">Need Help?</h3>
          <ul class="list-reset footer-top__right-list">
            <li class="footer-top__right-item">
              <a class="footer-top__right-link footer-top__right-link--location" href="#" target="_blank">Tanjung Sari Street no.48, Pontianak City</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link footer-top__right-link--email" href="mailto:Support@VRNas.com" target="_blank">Support@VRNas.com</a>
            </li>
            <li class="footer-top__right-item">
              <a class="footer-top__right-link footer-top__right-link--phone" href="tel:+1234567890" target="_blank">+123 456 7890</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__copy">© Copyright 2023, All Rights Reserved</div>
    </div>
  </div>
</footer>
