<section class="partners-section section-offset">
  <div class="container">
    <div class="partners-section__header header-block header-block--centered">
      <div class="header-block__label">Our Trusted Partners</div>
      <h2 class="header-block__title">Discover the Companies We Work With</h2>
    </div>
    <div class="partners-section__solar partners-solar">
      <div class="partners-solar__inner">
        <div class="partners-solar__img-block">
          <img class="partners-solar__img" src="img/man-ears.png" width="707" height="555" aria-hidden="true" alt="">
        </div>
        <div class="partners-solar__orbit partners-solar__orbit--1">

        </div>
        <div class="partners-solar__orbit partners-solar__orbit--2">
          <ul class="list-reset partners-solar__wrap">
            <li class="partners-solar__item partners-solar__item--1">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-1.svg" width="79" height="20" alt="partner">
              </a>
            </li>
             <li class="partners-solar__item partners-solar__item--2">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-2.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--3">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-3.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--4">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-4.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--5">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-5.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--6">
              <a class="partners-solar__logo" href="#">
                <img class="partners-solar__logo-img" src="img/partners/client-6.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--7">
              <a href="#" class="partners-solar__logo">
                <img class="partners-solar__logo-img" src="img/partners/client-7.svg" width="79" height="20" alt="partner">
              </a>
            </li>
             <li class="partners-solar__item partners-solar__item--8">
              <a class="partners-solar__logo" href="#" tabindex="-1">
                <img class="partners-solar__logo-img" src="img/partners/client-7.svg" width="79" height="20" alt="partner">
              </a>
            </li>
             <li class="partners-solar__item partners-solar__item--9">
              <a class="partners-solar__logo" href="#" tabindex="-1">
                <img class="partners-solar__logo-img" src="img/partners/client-6.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--10">
              <a class="partners-solar__logo" href="#" tabindex="-1">
                <img class="partners-solar__logo-img" src="img/partners/client-5.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--11">
              <a class="partners-solar__logo" href="#" tabindex="-1">
                <img class="partners-solar__logo-img" src="img/partners/client-4.svg" width="79" height="20" alt="partner">
              </a>
            </li>
            <li class="partners-solar__item partners-solar__item--12">
              <a class="partners-solar__logo" href="#" tabindex="-1">
                <img class="partners-solar__logo-img" src="img/partners/client-3.svg" width="79" height="20" alt="partner">
              </a>
            </li>
          </ul>
        </div>
        <div class="partners-solar__orbit partners-solar__orbit--3"></div>
        <div class="partners-solar__orbit partners-solar__orbit--4"></div>
      </div>
    </div>
  </div>
</section>
