<section class="pricing-section section-offset @class">
  <div class="container">
    <div class="header-block pricing-section__header">
      <div class="header-block__label">Our pricing</div>
      <h2 class="header-block__title">Affordable VR Services for Everyone</h2>
      <div class="header-block__text">
        <p>
          At VRNas, we believe that everyone should have access to the benefits of VR. That's why we offer a range of
          pricing options to meet the needs of any budget.
        </p>
      </div>
    </div>
    <div class="pricing-section__bottom">
      <div class="pricing-section__content content-pricing grid">
        <div class="content-pricing__info">
          <div class="content-pricing__item">
            <div class="content-pricing__icon-block">
              <img class="content-pricing__icon" src="../../img/svg-no-sprite/cloud.svg" aria-hidden="true" alt="">
            </div>
            <div class="content-pricing__body">
              <h3 class="content-pricing__title">Customizable Packages</h3>
              <div class="content-pricing__text">
                <p>We understand that each project is unique, so we offer customizable packages to ensure that you get
                  the
                  services you need at a price that works for you. Our team will work with you to create a package that
                  meets your specific goals and budget.
                </p>
              </div>
            </div>
          </div>
          <div class="content-pricing__item">
            <div class="content-pricing__icon-block">
              <img class="content-pricing__icon" src="../../img/svg-no-sprite/cloud.svg" aria-hidden="true" alt="">
            </div>
            <div class="content-pricing__body">
              <h3 class="content-pricing__title">Flexible Payment Options</h3>
              <div class="content-pricing__text">
                <p>
                  We offer flexible payment options to make it easy for you to get started with our services. We accept
                  various payment methods, including credit cards, bank transfers, and PayPal, and we can also work with
                  you to create a payment plan that suits your needs.
                </p>
              </div>
            </div>
          </div>
          <div class="content-pricing__item">
            <div class="content-pricing__icon-block">
              <img class="content-pricing__icon" src="../../img/svg-no-sprite/cloud.svg" aria-hidden="true" alt="">
            </div>
            <div class="content-pricing__body">
              <h3 class="content-pricing__title">Satisfaction Guarantee</h3>
              <div class="content-pricing__text">
                <p>
                  We stand behind our services and are committed to ensuring that you are completely satisfied with the
                  final product. If for any reason you are not happy with our services, we will work with you to make it
                  right or provide a full refund.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-pricing__img-block">
          <img class="content-pricing__img" src="img/price-man.png" width="360" height="520" aria-hidden="true" alt="">
        </div>
      </div>
      <div class="pricing-section__block-price price-block">
        <span class="price-block__start">Start from</span>
        <div class="price-block__price">$99</div>
        <a class="price-block__btn btn" href="#">
          <span>get started</span>
        </a>
        <p class="price-block__descr">30 Days Moneyback Guarantee</p>
      </div>
    </div>
  </div>
</section>
