<section class="service-section">
  <div class="container">
    <div class="service-section__header header-block">
      <div class="header-block__top">
        <div class="header-block__label">Our service</div>
        <h2 class="header-block__title">Our Service</h2>
      </div>
      <div class="header-block__text">
        <p>
          We use the latest VR hardware and software to create high-quality VR experiences that are accessible and
          affordable. Our goal is to provide exceptional customer service and support, and our team is always available
          to answer any questions and address any concerns you may have.
        </p>
      </div>
    </div>
    <div class="service-section__bottom">
      <div class="service-section__items">
        <div class="service-section__item item-service item-service--development">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/development.svg" width="48" height="48"
              alt="Development">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">
              From concept to creation, our team of VR developers will bring your vision to
              life.
            </p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
        <div class="service-section__item item-service item-service--design">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/design.svg" width="48" height="48"
              alt="design">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Design</h3>
            <p class="item-service__text">Our talented VR designers will create immersive and engaging environments that
              will captivate your audience.</p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
        <div class="service-section__item item-service item-service--consulting">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/consulting.svg" width="48" height="48"
              alt="consulting">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Consulting</h3>
            <p class="item-service__text">Our VR consultants will work with you to ensure that your VR experience meets
              your goals and exceeds your expectations.</p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
        <div class="service-section__item item-service item-service--games">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/games.svg" width="48" height="48"
              alt="games">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Games</h3>
            <p class="item-service__text">We offer a wide selection of VR games that are suitable for players of all
              ages and skill levels.</p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
        <div class="service-section__item item-service item-service--events">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/events.svg" width="48" height="48"
              alt="events">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Events</h3>
            <p class="item-service__text">Make your next event unforgettable with our VR event services.</p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
        <div class="service-section__item item-service item-service--entertainment">
          <div class="item-service__icon-block">
            <img class="item-service__icon" src="img/svg-no-sprite/entertainment.svg" width="48" height="48"
              alt="entertainment">
          </div>
          <div class="item-service__info">
            <h3 class="item-service__title">VR Entertainment</h3>
            <p class="item-service__text">Create a VR escape room, or offer VR experiences at a theme park, we have the
              expertise and experience to make it happen.</p>
            <a class="item-service__btn btn btn--transparent" href="#">
              <span>Learn more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
