<section class="testimonial-section">
  <div class="container testimonial-section__container">
    <div class="testimonial-section__content">
      <div class="testimonial-section__header header-block header-block--centered">
        <div class="header-block__label">Testimonial</div>
        <h2 class="header-block__title">What Our Clients Are Saying</h2>
      </div>
      <div class="testimonial-section__solar">
        <div class="testimonial-section__orbit orbit-test orbit-test--1">
          <div class="orbit-test__wrap">
            <div class="orbit-test__tooltip">
              <div class="tooltip-review">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-1"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-1.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-1">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="orbit-test__tooltip">
              <div class="tooltip-review">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-2"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-2.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-2">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-section__orbit orbit-test orbit-test--2">
          <div class="orbit-test__wrap">
            <div class="orbit-test__tooltip">
              <div class="tooltip-review">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-3"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-3.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-3">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-section__orbit orbit-test orbit-test--3">
          <div class="orbit-test__wrap">
            <div class="orbit-test__tooltip">
              <div class="tooltip-review tooltip-review--reverse">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-4"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-4.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-4">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-section__orbit orbit-test orbit-test--4">
          <div class="orbit-test__wrap">
            <div class="orbit-test__tooltip">
              <div class="tooltip-review tooltip-review--reverse">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-5"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-5.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-5">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-section__orbit orbit-test orbit-test--5">
          <div class="orbit-test__wrap">
            <div class="orbit-test__tooltip">
              <div class="tooltip-review">
                <button class="btn-reset tooltip-review__btn orbit-test__btn" aria-describedby="tooltip-6"
                  aria-label="The review of Robert Fox - CEO Anono">
                  <span class="tooltip-review__icon-block">
                    <img class="tooltip-review__icon" src="img/clients/client-6.png" width="50" height="50"
                      alt="Robert Fox">
                  </span>
                </button>
                <div class="tooltip-review__body" role="tooltip" id="tooltip-6">
                  <figure class="tooltip-review__content">
                    <blockquote class="tooltip-review__review">
                      <p>The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas
                        for any
                        VR needs.</p>
                    </blockquote>
                    <figcaption class="tooltip-review__author">
                      <span>Robert Fox -</span> <cite>CEO Anono</cite>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial-section__orbit orbit-test orbit-test--6">
          <div class="orbit-test__wrap">
          </div>
        </div>
        <div class="testimonial-section__img-block">
          <img class="testimonial-section__img testimonial-section__img--men" width="618" height="473"
            src="img/test-man-2.png" aria-hidden="true" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
