.about-us-section {
  &__container {
    align-items: start;
  }

  &__content {
    order: 1;
    grid-column: 6 span;
    padding-top: 40px;
    padding-bottom: 0;

    @include tablet {
      grid-column: 12 span;
      padding-top: 0;
      padding-bottom: 40px;
    }
  }

  &__images {
    position: relative;
    display: flex;
    justify-content: flex-end;
    order: 2;
    grid-column: 6 span;
    padding-right: 28px;
    padding-bottom: 31px;
    padding-left: 23px;

    @include tablet {
      grid-column: 12 span;
      padding-right: 0;

      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }

  &__img-block {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
    }

    &::before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 86%;
      background-color: var(--greyscale-black-80);
    }

    &::after {
      left: -38%;
      top: -19%;
      width: 150%;
      height: 150%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      opacity: 0.8;
      pointer-events: none;
    }
  }

  &__img {
    position: relative;
    z-index: 2;
    translate: -18px 0;

    @include small-tablet {
      width: 315px;
      height: 453px;
    }
  }

  &__video {
    position: absolute;
    left: 9%;
    bottom: 0;
    z-index: 2;

    @include small-tablet {
      left: 0;

      .thumb-video__btn {
        width: 154px;
        height: 101px;
      }

      .thumb-video__btn-img {
        width: 97px;
        height: 97px;
      }
    }
  }

  &__header {
    .header-block__title {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .header-block__text {
      p {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__item {
    position: relative;
    padding-left: 28px;
    font: var(--Body-3);
    color: var(--greyscale-white);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      -webkit-mask-image: url("../img/sprite.svg#check");
      mask-image: url("../img/sprite.svg#check");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
      width: 16px;
      height: 16px;
      background-image: var(--main-colors-linear);
    }
  }
}
