<section class="page-hero">
  <div class="container page-hero__container">
    <div class="page-hero__inner">
      <h1 class="page-hero__title main-title">Pricing Plan</h1>
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">Pricing Plan</a>
        </li>
      </ul>
    </div>
  </div>
</section>
