<section class="price-plan section-offset">
  <div class="container">
    <div class="price-plan__header header-block header-block--centered">
      <div class="header-block__label">Pricing</div>
      <h2 class="header-block__title">Pricing Plans</h2>
      <div class="header-block__text">
        <p>
          Choose the pricing plan that fits your needs and budget. All plans come with a free trial period so you can
          test out our service and see which plan works best for you.
        </p>
      </div>
    </div>
    <ul class="list-reset price-plan__tariffs grid">
      <li class="price-plan__tariff">
        <div class="tariff-plan">
          <a class="tariff-plan__link" href="#">
          <span class="tariff-plan__type">Basic Plan</span>
          <div class="tariff-plan__price">
            $99<span>/ month</span>
          </div>
          <div class="tariff-plan__descr">
            <p>All the basic features to boost your freelance career</p>
          </div>
          <ul class="list-reset tariff-plan__options">
            <li class="tariff-plan__option">Access to a selection of VR games and experiences</li>
            <li class="tariff-plan__option">Limited access to educational content</li>
            <li class="tariff-plan__option">Limited access to architecture and design tools</li>
            <li class="tariff-plan__option">No access to exclusive events or promotions</li>
          </ul>
            <div class="tariff-plan__btn btn btn--blur">
              <span>Get 14 Days Free Trial</span>
            </div>
          </a>
        </div>
      </li>
      <li class="price-plan__tariff">
        <div class="tariff-plan">
          <a class="tariff-plan__link" href="#">
          <span class="tariff-plan__type">Standard Plan</span>
          <div class="tariff-plan__price">
            $149<span>/ month</span>
          </div>
          <div class="tariff-plan__descr">
            <p>All the basic features to boost your freelance career</p>
          </div>
          <ul class="list-reset tariff-plan__options">
            <li class="tariff-plan__option">Access to a wider selection of VR games and experiences</li>
            <li class="tariff-plan__option">Limited access to educational content</li>
            <li class="tariff-plan__option">Limited access to architecture and design tools</li>
            <li class="tariff-plan__option">Access to exclusive events and promotions</li>
          </ul>
            <div class="tariff-plan__btn btn btn--blur">
              <span>Get 14 Days Free Trial</span>
            </div>
          </a>
        </div>
      </li>
      <li class="price-plan__tariff">
        <div class="tariff-plan">
          <a class="tariff-plan__link" href="#">
          <span class="tariff-plan__type">Premium Plan</span>
          <div class="tariff-plan__price">
            $200<span>/ month</span>
          </div>
          <div class="tariff-plan__descr">
            <p>All the basic features to boost your freelance career</p>
          </div>
          <ul class="list-reset tariff-plan__options">
            <li class="tariff-plan__option">Access to a wider selection of VR games and experiences</li>
            <li class="tariff-plan__option">Limited access to educational content</li>
            <li class="tariff-plan__option">Limited access to architecture and design tools</li>
            <li class="tariff-plan__option">Priority access to exclusive events and promotions</li>
          </ul>
            <div class="tariff-plan__btn btn btn--blur">
              <span>Get 14 Days Free Trial</span>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
