.footer {
  position: relative;
  padding-top: 115px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1011px;
    height: 498px;
    background: url("../img/wave-decor-2.png") 0 0 / cover no-repeat;
    pointer-events: none;

    @include small-tablet {
      height: 320px;
    }
  }
}

.footer-top {
  display: grid;
  grid-template-columns: 422px 1fr;
  padding-bottom: 33px;

  @include tablet {
    grid-template-columns: 300px 1fr;
  }

  @include small-tablet {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 35px;

    @include small-tablet {
      flex-direction: row;
      align-items: center;
      padding-bottom: 0;
      gap: 30px;
    }
  }

  &__left-logo {
    @include small-tablet {
      flex: 0 0 101px;
      width: 101px;
    }
  }

  &__right {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1.55fr;

    @include small-tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 64px 100px;
    }
  }

  &__right-column {
    @include small-tablet {
      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  &__right-title {
    margin: 0;
    margin-bottom: 16px;
    font: var(--Heading-10);
    color: var(--greyscale-white);
  }

  &__right-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__right-link {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    color: var(--greyscale-white);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      transition: background-color 0.3s;
    }

    &--location {
      padding-left: 30px;

      &::before {
        width: 14px;
        height: 16px;
        background: url("../img/svg-no-sprite/location.svg") 0 0 / cover no-repeat;
      }
    }

    &--email {
      padding-left: 34px;

      &::before {
        width: 18px;
        height: 16px;
        background: url("../img/svg-no-sprite/email.svg") 0 0 / cover no-repeat;
      }
    }

    &--phone {
      padding-left: 36px;

      &::before {
        width: 20px;
        height: 20px;
        background: url("../img/svg-no-sprite/phone.svg") 0 0 / cover no-repeat;
      }
    }

    @include focus-visible;

    @include hover {
      color: var(--main-colors-purple);
    }

    &:active {
      color: var(--greyscale-black-80);
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-style: solid;
  border-top-width: 1px;
  border-image: var(--main-colors-linear) 1;
  padding-top: 32px;
  padding-bottom: 40px;

  &__copy {
    font: var(--Body-1);
    color: var(--greyscale-white);
  }
}
