.partners-section {
  &__header {
    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }
}

.partners-solar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inner {
    position: relative;

    @include adaptiveValue("height", 742px, 304px, 0, 1054px, 430px);

    overflow: hidden;
    width: 1054px;
    transition: height 0.3s;

    &.full {
      .partners-solar__wrap,
      .partners-solar__item {
        transform: rotate(0deg);
        animation: none;
      }
    }
  }

  &__img-block {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 5;

    @include adaptiveValue("width", 707px, 288px, 0, 1054px, 430px);
    @include adaptiveValue("height", 555px, 226px, 0, 1054px, 430px);

    transform: translateX(-50%);
    transition:
      bottom 1.2s,
      transform 1.2s;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      right: -18%;
      top: -10%;
      z-index: 1;
      width: 137%;
      height: 112%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      pointer-events: none;
    }
  }

  &__img {
    position: relative;
    z-index: 4;
    object-fit: cover;
  }

  &__orbit {
    position: absolute;
    left: 50%;
    top: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    transform: translateX(-50%);
    transition:
      opacity 1.2s,
      visibility 1.2s;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      mask:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(#fff, #fff);
      mask-composite: exclude;
      border: inherit;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.17);
      transition: opacity 0.3s;
    }

    &--1 {
      top: 0;
      z-index: 4;
      pointer-events: none;

      @include adaptiveValue("width", 1054px, 430px, 0, 1054px, 430px);
      @include adaptiveValue("height", 1054px, 430px, 0, 1054px, 430px);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 53%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          var(--greyscale-black-100) 16%,
          var(--greyscale-black-100) 100%
        );
      }
    }

    &--2 {
      @include adaptiveValue("top", 70px, 35px, 0, 1054px, 430px);
      @include adaptiveValue("width", 917px, 373px, 0, 1054px, 430px);
      @include adaptiveValue("height", 917px, 373px, 0, 1054px, 430px);

      &::before {
        background: var(--main-colors-linear) border-box;
      }
    }

    &--3 {
      @include adaptiveValue("top", 147px, 72px, 0, 1054px, 430px);
      @include adaptiveValue("width", 760px, 310px, 0, 1054px, 430px);
      @include adaptiveValue("height", 760px, 310px, 0, 1054px, 430px);
    }

    &--4 {
      @include adaptiveValue("top", 216px, 110px, 0, 1054px, 430px);
      @include adaptiveValue("width", 623px, 254px, 0, 1054px, 430px);
      @include adaptiveValue("height", 623px, 254px, 0, 1054px, 430px);
    }
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;

    @media (hover: hover) and (width >= 767.98px) {
      animation: partners 60s linear infinite;
    }
  }

  &__item {
    position: absolute;
    transform-origin: center;

    @media (hover: hover) and (width >= 767.98px) {
      animation: counterspin1 60s linear infinite;
    }

    &--1 {
      @include adaptiveValue("top", 413px, 161px, 0, 1054px, 430px);
      @include adaptiveValue("left", -54px, -21px, 0, 1054px, 430px);
    }

    &--2 {
      @include adaptiveValue("left", 16px, 5px, 0, 1054px, 430px);
      @include adaptiveValue("top", 175px, 69px, 0, 1054px, 430px);
    }

    &--3 {
      @include adaptiveValue("left", 165px, 68px, 0, 1054px, 430px);
      @include adaptiveValue("top", 17px, 6px, 0, 1054px, 430px);
    }

    &--4 {
      @include adaptiveValue("left", 405px, 162px, 0, 1054px, 430px);
      @include adaptiveValue("top", -54px, -22px, 0, 1054px, 430px);
    }

    &--5 {
      @include adaptiveValue("right", 166px, 67px, 0, 1054px, 430px);
      @include adaptiveValue("top", 20px, 10px, 0, 1054px, 430px);
    }

    &--6 {
      @include adaptiveValue("right", 15px, 5px, 0, 1054px, 430px);
      @include adaptiveValue("top", 176px, 75px, 0, 1054px, 430px);
    }

    &--7 {
      @include adaptiveValue("right", -54px, -21px, 0, 1054px, 430px);
      @include adaptiveValue("top", 413px, 161px, 0, 1054px, 430px);
    }

    &--8 {
      @include adaptiveValue("right", 15px, 1px, 0, 1054px, 430px);
      @include adaptiveValue("bottom", 176px, 79px, 0, 1054px, 430px);
    }

    &--9 {
      @include adaptiveValue("right", 166px, 65px, 0, 1054px, 430px);
      @include adaptiveValue("bottom", 20px, 12px, 0, 1054px, 430px);
    }

    &--10 {
      @include adaptiveValue("left", 407px, 162px, 0, 1054px, 430px);
      @include adaptiveValue("bottom", -54px, -16px, 0, 1054px, 430px);
    }

    &--11 {
      @include adaptiveValue("left", 165px, 64px, 0, 1054px, 430px);
      @include adaptiveValue("bottom", 17px, 12px, 0, 1054px, 430px);
    }

    &--12 {
      @include adaptiveValue("left", 16px, -1px, 0, 1054px, 430px);
      @include adaptiveValue("bottom", 175px, 82px, 0, 1054px, 430px);
    }
  }

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--greyscale-white);
    background-color: rgba(37, 37, 50, 0.8);

    @include adaptiveValue("width", 102px, 42px, 0, 1054px, 430px);
    @include adaptiveValue("height", 102px, 42px, 0, 1054px, 430px);

    transition: scale 0.3s;
    cursor: pointer;
    pointer-events: all;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      mask:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(#fff, #fff);
      mask-composite: exclude;
      border: inherit;
      border-radius: inherit;
      width: inherit;
      height: inherit;
      background: var(--main-colors-linear-border) border-box;
      transition: opacity 0.3s;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      scale: 1.3;
    }

    @include hover {
      scale: 1.3;
    }
  }

  &__logo-img {
    @include adaptiveValue("width", 79px, 32px, 0, 1054px, 430px);
    @include adaptiveValue("height", 20px, 8px, 0, 1054px, 430px);

    object-fit: contain;
  }
}

/* Spin animations */

@keyframes partners {
  0% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes counterspin1 {
  0% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
