.service-section {
  padding-top: 75px;
  padding-bottom: 75px;

  --top1: 57px;
  --top2: 78px;

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__header {
    padding-right: 42px;

    &:not(:last-child) {
      margin-bottom: 46px;
    }

    @include tablet {
      padding-right: 0;
    }

    @include small-tablet {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .header-block {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto 1fr;

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }

  .header-block__title {
    @include small-tablet {
      margin-bottom: 12px;
    }
  }

  .header-block__text {
    justify-self: end;
    max-width: 625px;

    @include small-tablet {
      justify-self: start;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: calc(var(--top1) + var(--top2));
    gap: 32px 36px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: calc(var(--top1));
      gap: 25px;
    }

    @include small-tablet {
      grid-template-columns: 1fr;
      padding-bottom: 0;
    }
  }
}

.item-service {
  position: relative;
  border: 1px solid transparent;
  padding: 38px 32px 0;
  background-color: var(--greyscale-black-80);
  transition: all 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    mask:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(#fff, #fff);
    mask-composite: exclude;
    border: inherit;
    transition: opacity 0.3s;
  }

  &::before {
    background: var(--main-colors-linear-border) border-box;
    opacity: 1;
  }

  &::after {
    background: var(--main-colors-linear) border-box;
    opacity: 0;
  }

  &:nth-child(3n-1) {
    top: var(--top1);

    // margin-top: var(--top1);
    @include tablet {
      top: 0;
    }
  }

  &:nth-child(3n) {
    top: calc(var(--top1) + var(--top2));

    // margin-top: calc(var(--top1) + var(--top2));

    @include tablet {
      top: 0;
    }
  }

  &:nth-child(2n) {
    @include tablet {
      top: var(--top1);
    }

    @include small-tablet {
      top: 0;
    }
  }

  &__icon-block {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__info {
    position: relative;
    z-index: 3;
    padding-bottom: 25px;
    min-height: 145px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 100%;
      background: var(--main-colors-linear-blur);
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
    }

    @include small-tablet {
      &::before {
        display: none;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;
    font: var(--Heading-7);
    color: var(--greyscale-white);
  }

  &__text {
    margin: 0;
    font: var(--Body-2);
    color: var(--greyscale-grey-1);

    @media (any-hover: none) {
      margin-bottom: 17px;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 31px;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.06);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition:
      opacity 0.3s,
      visibility 0.3s;

    span {
      font: var(--Button-1);
      letter-spacing: 0.11em;
      text-transform: uppercase;
      color: var(--greyscale-white);
      transition: color 0.3s;
    }

    @media (any-hover: none) {
      position: relative;
      left: 0;
      bottom: 0;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  @include hover {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

    .item-service__info {
      &::before {
        opacity: 1;
      }
    }

    .item-service__text {
      margin-bottom: 0;
    }

    .item-service__btn {
      opacity: 1;
      visibility: visible;
    }
  }
}

