.testimonial-section {
  &__container {
    // padding-right: 178px;
    max-width: calc(1247px + 16px + 16px);

    @include small-tablet {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    position: relative;
    // min-height: 1247px;
    // background: url('../img/circle-decor.png') center / 100% no-repeat;
    // background: url('../img/circle-decor.png') center center / 100% 100% no-repeat;

    // @include small-tablet {
    //   width: 1007px;
    //   height: 1007px;
    // }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 29px;
    }
  }

  &__header {
    position: absolute;
    z-index: 3;
    top: 9%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

    @include small-tablet {
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
      max-width: 362px;
    }
  }

  &__pictures {
    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 84%;
      height: 64%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
    }
  }

  &__img {
    &--decor {
      aspect-ratio: 1247 / 1247;
      position: relative;
      z-index: 10;
      pointer-events: none;

      @include small-tablet {
        aspect-ratio: 1007 / 1007;
      }
    }

    &--men {
      position: absolute;
      top: 28%;
      left: 26%;
      width: 49.56%;
      height: 37.85%;

      @include small-tablet {
        top: 37%;
        width: 500px;
        height: 382px;
      }
    }
  }

  &__btn {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: red;

    &--1 {
      // left: adaptive_px(10, 1247, 40);
      left: 22px;
      // top: 321px;
      // left: -32px;
      top: 27%;
    }

    &--2 {
      left: 12%;
      top: 73%;
    }
  }

  &__tooltip {
    position: absolute;

    @include small-tablet {
      display: none;
    }

    &--1 {
      // left: 12px;
      @include adaptiveValue("left", 16px, -16px, 2, 1279px, 767.98px);
      top: 25%;
    }

    &--2 {
      @include adaptiveValue("left", 155px, 100px, 2, 1279px, 767.98px);
      top: 71%;
    }

    &--3 {
      left: 48%;
      @include adaptiveValue("bottom", 285px, 150px, 2, 1279px, 767.98px);
      // top: 67%;
      // bottom: 270px;
    }

    &--4 {
      // right: 140px;
      @include adaptiveValue("right", 140px, 65px, 2, 1279px, 767.98px);
      top: 42%;
    }

    &--5 {
      right: 22%;
      // bottom: 29px;
      @include adaptiveValue("bottom", 29px, -15px, 2, 1279px, 767.98px);
    }
  }
}

.tooltip-review {
  display: flex;
  align-items: center;
  gap: 16px;

  &--reverse {
    flex-direction: row-reverse;

    .tooltip-review__body {
      clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);

      &::before,
      &::after {
        clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);
      }

      &::before {
        transform: scaleX(-1);
      }
    }
  }

  &__btn {
    position: relative;
    border-radius: 100%;
    // background-image: var(--main-colors-linear);
    // background-color: var(--greyscale-black-100);
    // background-color: green;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      background-image: var(--main-colors-linear);
      opacity: 0;
      transition: opacity 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      background-image: var(--main-colors-linear-border);
      opacity: 1;
      transition: opacity 0.3s;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   border-radius: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 71px;
    //   height: 71px;
    //   background-color: var(--greyscale-black-100);
    //   z-index: 1;
    // }

    &:focus {
      outline: none;

      &::after {
        // opacity: 1;
        // visibility: visible;
      }
    }

    &:hover + .tooltip-review__body,
    &:focus + .tooltip-review__body {
      // opacity: 1;
      // visibility: visible;
    }

    &:hover {
      .tooltip-review__btn-decor {
        &::before {
          opacity: 1;
        }
      }

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }
  }

  &__btn-decor {
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 37, 50, 1);
    border-radius: 100%;
    z-index: 4;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 165%;
      height: 144%;
      z-index: 7;
      opacity: 0;
      pointer-events: none;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      transition: opacity 0.3s;
    }
  }

  &__img {
    position: relative;
    z-index: 4;
    color: var(--greyscale-white);
  }

  &__body {
    position: relative;
    width: 297px;
    // border-style: solid;
    // border-width: 1px;
    // border-image: var(--main-colors-linear-border) 1;
    // background-color: rgba(37, 37, 50, 0.77);
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    // opacity: 0;
    // visibility: hidden;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: var(--main-colors-linear-border);
      opacity: 0.5;
      z-index: 1;
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: rgba(37, 37, 50, 1);
      z-index: 2;
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    }
  }

  &__content {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
    margin: 0;
    padding: 18px 19px 13px 23px;
    // background-color: rgba(37, 37, 50, 0.77);
  }

  &__review {
    margin: 0;

    p {
      margin: 0;
      font: var(--Body-4);
    }
  }

  &__author {
    position: relative;
    font-size: 12px;
    line-height: 200%;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-image: var(--main-colors-linear);
    }

    span {
      color: var(--greyscale-grey-2);
    }

    cite {
      font-style: normal;
    }
  }
}


.circles {
  // aspect-ratio: 1200 / 1200;
    @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }
  position: relative;
  margin-top: 100px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  opacity: 0.17;
  border-radius: 50%;
}

.circle-1 {
  @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
  @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

  @include small-tablet {
      width: 1007px;
      height: 1007px;
    }
}

.circle-2 {
  @include adaptiveValue("width", 1084px, 572.98px, 2, 1279px, 767.98px);
  @include adaptiveValue("height", 1084px, 572.98px, 2, 1279px, 767.98px);

  @include small-tablet {
      width: 875px;
      height: 875px;
    }
}


/* Оборачивающий блок, который крутится */
.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.orbit-1 {
  animation: spin1 30s linear infinite;
}

.orbit-2 {
  animation: spin2 30s linear infinite;
}

.button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

/* Кнопка, находящаяся на орбите */
.button-1 {
}


/* Анимация вращения */
@keyframes spin1 {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


