.testimonial-section {
  padding-top: 75px;
  padding-bottom: 75px;

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    max-width: calc(1247px + 16px + 16px);

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__content {
    position: relative;
    pointer-events: none;

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 29px;
    }
  }

  &__header {
    position: absolute;
    left: 50%;
    top: 9%;
    width: 100%;
    transform: translateX(-50%);

    @include small-tablet {
      position: relative;
      left: 0;
      top: 0;
      max-width: 362px;
      transform: translateX(0);
    }
  }

  &__solar {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url("../img/circle-decor.png") 0 0 / contain no-repeat;
    }

    @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }
  }

  &__orbit {
    position: relative;
  }

  &__img-block {
    position: absolute;
    left: 25.6%;
    top: 27.8%;
    z-index: 4;
    width: 49.56%;
    height: 37.85%;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 190%;
      height: 170%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      transform: translate(-50%, -50%);
    }

    @include small-tablet {
      top: 28%;
      width: 500px;
      height: 382px;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.orbit-test {
  --btn-width: 75px;
  --btn-height: 75px;
  --btn-center: calc(var(--btn-width) / 2);
  --gap: 16px;
  --body-width: 297px;
  --tooltip-width: calc(var(--btn-width) + var(--gap) + var(--body-width));

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  // border: 2px solid rgba(255, 255, 255, 0.17);

  &--1 {
    @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin-1 60s linear infinite;
      }
    }

    .orbit-test__tooltip {
      &:nth-child(1) {
        @media (hover: hover) and (width >= 767.98px) {
          // animation: counter-spin-1-1 60s linear infinite;
        }

        @include adaptiveValue("top", 286px, 168px, 2, 1279px, 767.98px);
        @include adaptiveValue("left", -303px, -339px, 2, 1279px, 767.98px);

        @include small-tablet {
          left: -11px;
          top: -37px;
        }
      }

      &:nth-child(2) {
        @media (hover: hover) and (width >= 767.98px) {
          // animation: counter-spin-1-2 60s linear infinite;
        }

        @include adaptiveValue("right", -62px, -154px, 2, 1279px, 767.98px);
        @include adaptiveValue("bottom", 20px, -33px, 2, 1279px, 767.98px);

        @include small-tablet {
          left: -20px;
          bottom: -40px;

          .tooltip-review {
            left: calc(50% - (var(--btn-width) / 2));
            right: 0;
            flex-direction: row;
          }

          .tooltip-review__body {
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);

            &::before,
            &::after {
              clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
            }

            &::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &--2 {
    @include adaptiveValue("width", 1084px, 639.78px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1084px, 639.78px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 875px;
      height: 875px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin-2 60s linear infinite;
      }
    }

    .orbit-test__tooltip {
      @include adaptiveValue("bottom", 196px, 94px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", -282px, -325px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: 220px;
        bottom: -39px;

        .tooltip-review {
          left: 0;
          right: calc(50% - (var(--btn-width) / 2));
          flex-direction: row-reverse;
        }

        .tooltip-review__body {
          clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);

          &::before,
          &::after {
            clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);
          }

          &::before {
            transform: scaleX(-1);
          }
        }
      }

      @media (hover: hover) and (width >= 767.98px) {
        // animation: counter-spin-2-1 60s linear infinite;
      }
    }
  }

  &--3 {
    @include adaptiveValue("width", 899px, 530.57px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 899px, 530.57px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 726px;
      height: 726px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin-3 60s linear infinite;
      }
    }

    .orbit-test__tooltip {
      @include adaptiveValue("top", 351px, 196px, 2, 1279px, 767.98px);
      @include adaptiveValue("right", -368px, -373px, 2, 1279px, 767.98px);

      @media (hover: hover) and (width >= 767.98px) {
        // animation: counter-spin-3-1 60s linear infinite;
      }

      @include small-tablet {
        right: -175px;
        top: -20px;
      }
    }
  }

  &--4 {
    @include adaptiveValue("width", 736px, 434.37px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 736px, 434.37px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 595px;
      height: 595px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin-4 60s linear infinite;
      }
    }

    .orbit-test__tooltip {
      @include adaptiveValue("top", -24px, 2px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", 157px, -15px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: -232px;
        top: -16px;

        .tooltip-review {
          left: calc(50% - (var(--btn-width) / 2));
          right: 0;
          flex-direction: row;
        }

        .tooltip-review__body {
          clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);

          &::before,
          &::after {
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
          }

          &::before {
            transform: scaleX(1);
          }
        }
      }

      @media (hover: hover) and (width >= 767.98px) {
        // animation: counter-spin-4-1 60s linear infinite;
      }
    }
  }

  &--5 {
    @include adaptiveValue("width", 564px, 332.81px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 564px, 332.81px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 456px;
      height: 456px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin-5 60s linear infinite;
      }
    }

    .orbit-test__tooltip {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: counter-spin-5-1 60s linear infinite;
      }

      @include adaptiveValue("bottom", -60px, -57px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", -69px, -198px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: -291px;
        bottom: 4px;
      }
    }
  }

  &--6 {
    @include adaptiveValue("width", 390px, 230.14px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 390px, 230.14px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 314px;
      height: 314px;
    }

    .orbit-test__wrap {
      @media (hover: hover) and (width >= 767.98px) {
        // animation: spin1 5s linear infinite;
      }
    }
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
  }

  &__tooltip {
    position: absolute;
    width: calc((var(--tooltip-width) * 2) - var(--btn-center));
    min-height: 123px;
    transform-origin: center;

    .tooltip-review {
      position: absolute;
      left: calc(50% - (var(--btn-width) / 2));
      top: 50%;
      transform: translateY(-50%);
      gap: var(--gap);

      &--reverse {
        left: 0;
        right: calc(50% - (var(--btn-width) / 2));
      }
    }

    .tooltip-review__btn {
      width: var(--btn-width);
      height: var(--btn-height);
      pointer-events: all;
    }

    .tooltip-review__body {
      width: var(--body-width);
    }
  }
}

.tooltip-review {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  &.paused {
    .tooltip-review__btn {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }

    .tooltip-review__icon-block {
      &::before {
        opacity: 1;
      }
    }

    // .tooltip-review__btn-decor {
    //   &::before {
    //     opacity: 1;
    //   }
    // }

    .tooltip-review__body {
      opacity: 1;
      visibility: visible;
    }
  }

  &--reverse {
    flex-direction: row-reverse;

    .tooltip-review__body {
      clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);

      &::before,
      &::after {
        clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);
      }

      &::before {
        transform: scaleX(-1);
      }
    }
  }

  &__btn {
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    background-color: rgba(37, 37, 50, 0.6);

    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: inherit;
      height: inherit;
      mask:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(#fff, #fff);
      mask-composite: exclude;
      border: inherit;
      border-radius: inherit;
      transition: opacity 0.3s;
    }

    &::before {
      background: var(--main-colors-linear-border) border-box;
      opacity: 1;
    }

    &::after {
      background: var(--main-colors-linear) border-box;
      opacity: 0;
    }
  }

  &__icon-block {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 7;
    color: var(--greyscale-white);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 210%;
      height: 180%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s;
    }
  }

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__body {
    position: relative;
    z-index: 10;
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    width: 297px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s,
      visibility 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
      width: 100%;
      height: 100%;
      background-image: var(--main-colors-linear-border);
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 9;
      clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: rgba(37, 37, 50, 1);
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 18px 19px 13px 23px;
    row-gap: 8px;
  }

  &__review {
    margin: 0;

    p {
      margin: 0;
      font: var(--Body-4);

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__author {
    position: relative;
    font-size: 12px;
    line-height: 200%;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-image: var(--main-colors-linear);
    }

    span {
      color: var(--greyscale-grey-2);
    }

    cite {
      font-style: normal;
    }
  }
}

.circle-2 {
  @include adaptiveValue("width", 1084px, 572.98px, 2, 1279px, 767.98px);
  @include adaptiveValue("height", 1084px, 572.98px, 2, 1279px, 767.98px);

  @include small-tablet {
    width: 875px;
    height: 875px;
  }
}

/* Spin animations */

// @keyframes spin-1 {
//   0% {
//     transform: rotate(1deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes counter-spin-1-1 {
//   0% {
//     transform: rotate(-1deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }

// @keyframes counter-spin-1-2 {
//   0% {
//     transform: rotate(-1deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }

// @keyframes spin-2 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes counter-spin-2-1 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }

// @keyframes spin-3 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes counter-spin-3-1 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }

// @keyframes spin-4 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes counter-spin-4-1 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }

// @keyframes spin-5 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

// @keyframes counter-spin-5-1 {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }
