.testimonial-section {
  padding-top: 75px;
  padding-bottom: 75px;

  @include small-tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__container {
    max-width: calc(1247px + 16px + 16px);

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__content {
    position: relative;
    pointer-events: none;

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 29px;
    }
  }

  &__header {
    position: absolute;
    left: 50%;
    top: 9%;
    width: 100%;
    transform: translateX(-50%);

    @include small-tablet {
      position: relative;
      left: 0;
      top: 0;
      max-width: 362px;
      transform: translateX(0);
    }
  }

  &__solar {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: url("../img/circle-decor.png") 0 0 / contain no-repeat;
    }

    @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }
  }

  &__orbit {
    position: relative;
  }

  &__img-block {
    position: absolute;
    left: 25.6%;
    top: 27.8%;
    z-index: 4;
    width: 49.56%;
    height: 37.85%;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 190%;
      height: 170%;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      transform: translate(-50%, -50%);
    }

    @include small-tablet {
      top: 28%;
      width: 500px;
      height: 382px;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.orbit-test {
  --btn-width: 75px;
  --btn-height: 75px;
  --btn-center: calc(var(--btn-width) / 2);
  --gap: 16px;
  --body-width: 297px;
  --tooltip-width: calc(var(--btn-width) + var(--gap) + var(--body-width));

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &--1 {
    @include adaptiveValue("width", 1247px, 735.98px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1247px, 735.98px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 1007px;
      height: 1007px;
    }

    .orbit-test__tooltip {
      &:nth-child(1) {
        @include adaptiveValue("top", 286px, 168px, 2, 1279px, 767.98px);
        @include adaptiveValue("left", -303px, -339px, 2, 1279px, 767.98px);

        @include small-tablet {
          left: -11px;
          top: -37px;
        }
      }

      &:nth-child(2) {
        @include adaptiveValue("right", -62px, -154px, 2, 1279px, 767.98px);
        @include adaptiveValue("bottom", 20px, -33px, 2, 1279px, 767.98px);

        @include small-tablet {
          left: -20px;
          bottom: -40px;

          .tooltip-review {
            left: calc(50% - (var(--btn-width) / 2));
            right: 0;
            flex-direction: row;
          }

          .tooltip-review__body {
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);

            &::before,
            &::after {
              clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
            }

            &::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &--2 {
    @include adaptiveValue("width", 1084px, 639.78px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 1084px, 639.78px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 875px;
      height: 875px;
    }

    .orbit-test__tooltip {
      @include adaptiveValue("bottom", 196px, 94px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", -282px, -325px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: 220px;
        bottom: 54px;

        .tooltip-review {
          left: 0;
          right: calc(50% - (var(--btn-width) / 2));
          flex-direction: row-reverse;
        }

        .tooltip-review__body {
          clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);

          &::before,
          &::after {
            clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 99%, 0% 100%);
          }

          &::before {
            transform: scaleX(-1);
          }
        }
      }
    }
  }

  &--3 {
    @include adaptiveValue("width", 899px, 530.57px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 899px, 530.57px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 726px;
      height: 726px;
    }

    .orbit-test__tooltip {
      @include adaptiveValue("top", 351px, 196px, 2, 1279px, 767.98px);
      @include adaptiveValue("right", -368px, -373px, 2, 1279px, 767.98px);

      @include small-tablet {
        right: -175px;
        top: -20px;
      }
    }
  }

  &--4 {
    @include adaptiveValue("width", 736px, 434.37px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 736px, 434.37px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 595px;
      height: 595px;
    }

    .orbit-test__tooltip {
      @include adaptiveValue("top", -24px, 2px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", 157px, -15px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: -232px;
        top: -16px;

        .tooltip-review {
          left: calc(50% - (var(--btn-width) / 2));
          right: 0;
          flex-direction: row;
        }

        .tooltip-review__body {
          clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);

          &::before,
          &::after {
            clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
          }

          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &--5 {
    @include adaptiveValue("width", 564px, 332.81px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 564px, 332.81px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 456px;
      height: 456px;
    }

    .orbit-test__tooltip {
      @include adaptiveValue("bottom", -60px, -57px, 2, 1279px, 767.98px);
      @include adaptiveValue("left", -69px, -198px, 2, 1279px, 767.98px);

      @include small-tablet {
        left: -291px;
        bottom: 4px;
      }
    }
  }

  &--6 {
    @include adaptiveValue("width", 390px, 230.14px, 2, 1279px, 767.98px);
    @include adaptiveValue("height", 390px, 230.14px, 2, 1279px, 767.98px);

    @include small-tablet {
      width: 314px;
      height: 314px;
    }
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
  }

  &__tooltip {
    position: absolute;
    width: calc((var(--tooltip-width) * 2) - var(--btn-center));
    min-height: 123px;
    transform-origin: center;

    .tooltip-review {
      position: absolute;
      left: calc(50% - (var(--btn-width) / 2));
      top: 50%;
      transform: translateY(-50%);
      gap: var(--gap);

      &--reverse {
        left: 0;
        right: calc(50% - (var(--btn-width) / 2));
      }
    }

    .tooltip-review__btn {
      width: var(--btn-width);
      height: var(--btn-height);
      pointer-events: all;
    }

    .tooltip-review__body {
      width: var(--body-width);
    }
  }
}




