<section class="page-hero page-hero--post">
  <div class="container page-hero__container">
    <div class="page-hero__inner">
      <h1 class="visually-hidden">Bringing Designs to Life: How VR is Changing Architecture</h1>
      <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="#">Blog</a>
        </li>
         <li class="breadcrumbs__item">
          <a class="breadcrumbs__link">Bringing Designs to Life: How VR is Changing Architecture</a>
        </li>
      </ul>
    </div>
  </div>
</section>
