<section class="about-section" data-msi-watcher data-msi-watcher-threshold="0.8">
  <div class="container about-section__container grid">
    <div class="about-section__images">
      <div class="about-section__img-block">
        <img class="about-section__img" width="518" height="622" src="img/man-finger.png" aria-hidden="true" alt="">
      </div>
      <div class="about-section__video thumb-video thumb-video--about-sec">
        <button class="btn-reset thumb-video__btn" data-graph-path="vr"
          data-video="https://www.youtube.com/embed/bdc9rcrZW8I?si=dp6g1HcZAQCuCFOM" aria-label="Play video">
          <img class="thumb-video__btn-img" src="img/thumbs/vr-thumb.png" width="130" height="88" aria-hidden="true"
            loading="lazy" alt="">
          <svg class="thumb-video__btn-play">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="about-section__content">
      <div class="header-block about-section__header">
        <div class="header-block__label">About us</div>
        <h2 class="header-block__title">Bring your events to life like never before with our VR services.</h2>
        <div class="header-block__text">
          <p>
            VRNas is a leading provider of VR services for education, entertainment,
            architecture, and events. Our mission is to bring the power of virtual reality to everyone, allowing them to
            explore new worlds, learn in new ways, and experience events in a whole new light.
          </p>
        </div>
      </div>
      <ul class="list-reset about-section__list">
        <li class="about-section__item">Cutting-Edge Technology</li>
        <li class="about-section__item">Versatile Applications</li>
        <li class="about-section__item">Affordable and Accessible</li>
      </ul>
      <a href="#" class="about-section__btn btn">
        <span>read more</span>
      </a>
    </div>
  </div>
</section>
