<section class="choose-section">
  <div class="container choose-section__container grid">
    <div class="choose-section__content">
      <div class="header-block">
        <div class="header-block__top">
          <div class="header-block__label">Why choose us</div>
          <h2 class="header-block__title">Why Choose Us for Your VR Needs</h2>
        </div>
        <div class="header-block__bottom">
          <div class="header-block__accordeon accordeon accordeon--choose-1">
            <button class="btn-reset accordeon__control" aria-expanded="false">
              <span class="accordeon__title">Passionate and Experienced Team</span>
              <div class="accordeon__icon"></div>
            </button>
            <div class="accordeon__content" aria-hidden="true">
              <div class="accordeon__text">
                <p>
                  We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the
                  highest quality work. Our team consists of experienced VR developers, designers, and technicians who
                  have a proven track record of creating immersive and engaging VR experiences.
                </p>
              </div>
            </div>
          </div>
          <div class="header-block__accordeon accordeon accordeon--choose-2">
            <button class="btn-reset accordeon__control" aria-expanded="false">
              <span class="accordeon__title">Customized Solutions</span>
              <div class="accordeon__icon"></div>
            </button>
            <div class="accordeon__content" aria-hidden="true">
              <div class="accordeon__text">
                <p>
                  We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the
                  highest quality work. Our team consists of experienced VR developers, designers, and technicians who
                  have a proven track record of creating immersive and engaging VR experiences.
                </p>
              </div>
            </div>
          </div>
          <div class="header-block__accordeon accordeon accordeon--choose-3">
            <button class="btn-reset accordeon__control" aria-expanded="false">
              <span class="accordeon__title">Exceptional Customer Service</span>
              <div class="accordeon__icon"></div>
            </button>
            <div class="accordeon__content" aria-hidden="true">
              <div class="accordeon__text">
                <p>
                  We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the
                  highest quality work. Our team consists of experienced VR developers, designers, and technicians who
                  have a proven track record of creating immersive and engaging VR experiences.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-section__images">
      <div class="choose-section__img-block">
        <img class="choose-section__img" width="563" height="662" src="img/man-karate.png" aria-hidden="true" alt="">
      </div>
      <div class="choose-section__video thumb-video thumb-video--about-sec">
        <button class="btn-reset thumb-video__btn" data-graph-path="vr-2"
          data-video="https://www.youtube.com/embed/suUYPNEkNPY?si=knxkEe4VMN0O9hZ3" aria-label="Play video">
          <img class="thumb-video__btn-img" src="img/thumbs/vr-thumb-2.png" width="130" height="88" aria-hidden="true"
            loading="lazy" alt="">
          <svg class="thumb-video__btn-play">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
