<section class="service-section">
  <div class="container">
    <div class="service-section__header header-block">
      <div class="header-block__top">
        <div class="header-block__label">Our service</div>
        <h2 class="header-block__title">Our Service</h2>
      </div>
      <div class="header-block__text">
        <p>
          We use the latest VR hardware and software to create high-quality VR experiences that are accessible and
          affordable. Our goal is to provide exceptional customer service and support, and our team is always available
          to answer any questions and address any concerns you may have.
        </p>
      </div>
    </div>
    <div class="service-section__bottom">
      <div class="service-section__items">
        <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
                <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
                <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
                <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
                <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
                <div class="service-section__item item-service">
          <div class="item-service__info">
            <h3 class="item-service__title">VR Development</h3>
            <p class="item-service__text">From concept to creation, our team of VR developers will bring your vision to
              life.</p>
          </div>
          <a class="item-service__btn btn btn--transparent" href="#">
            <span>Learn more</span>
          </a>
          <div class="item-service__decor"></div>
        </div>
      </div>
    </div>
  </div>
</section>
