.start-section {
  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -220px;
      top: -50px;
      z-index: -1;
      width: 650px;
      height: 550px;
      background: url("../img/light.png") 0 0 / 100% 100% no-repeat;
      opacity: 0.7;
      pointer-events: none;

      @include small-tablet {
        display: none;
      }
    }
  }

  &__top {
    margin: 0 auto;
    max-width: 810px;

    &:not(:last-child) {
      margin-bottom: 48px;
    }

    @include small-tablet {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
  }

  &__bottom {
    text-align: center;
  }

  &__btn {
    margin-top: 48px;

    @include small-tablet {
      margin-top: 32px;
    }
  }
}
