.accordeon {
  --accordeon-time: 0.3s;

  &:not(:last-child) {
    margin-bottom: 48px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 12px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
  }

  &__title {
    font: var(--Heading-8);
    color: var(--greyscale-white);
  }

  &__icon {
    position: relative;
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-mask-image: url("../img/sprite.svg#menu-arrow");
      mask-image: url("../img/sprite.svg#menu-arrow");
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
      width: 6px;
      height: 3.54px;
      background-color: var(--greyscale-white);
      transform: translate(-50%, -50%) scaleY(1);
      transition:
        transform 0.3s,
        background-color 0.3s;
    }

    .is-open & {
      &::before {
        transform: translate(-50%, -50%) scaleY(-1);
      }
    }
  }

  &__content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
    box-sizing: content-box;
    opacity: 0;
    transition: all var(--accordeon-time) ease-out;
    will-change: max-height;

    .is-open & {
      padding-top: 12px;
      opacity: 1;
    }
  }

  &__text {
    p {
      margin: 0;
      font: var(--Body-3);

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.post-category {
  display: inline-block;
  border-radius: 16px;
  padding: 2px 10px;
  font: var(--Caption-2);
  color: var(--greyscale-white);
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s;

  @include focus-visible;

  @include hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: var(--greyscale-black-100);
  }
}

.post-link-title {
  display: inline-block;
  color: var(--greyscale-white);

  @include focus-visible;

  @include hover {
    .post-title {
      color: var(--main-colors-purple);
    }
  }

  &:active {
    .post-title {
      color: var(--greyscale-black-100);
    }
  }
}

.post-title {
  margin: 0;
  font: var(--Heading-9);
  color: var(--greyscale-white);
  transition: color 0.3s;

  @include small-tablet {
    font: var(--Heading-11);
  }
}
