.logo {
  transition: opacity 0.3s;

  @include focus-visible;

  @include hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.advantages {
  position: relative;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-image: var( --main-colors-linear-border) 1;

		&__inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: adaptive_px(50, 1232, 54) adaptive_px(36, 1232, 64);
      background-color: var(--greyscale-black-80);
      gap: 55px adaptive_px(25, 1232, 50);

      @include small-tablet {
        grid-template-columns: 1fr;
      }
    }

		&__item {
      position: relative;
      padding-top: 100px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: cover;
        mask-size: cover;
        background-image: var(--main-colors-linear);
      }

      &--expertise {
        &::before {
          -webkit-mask-image: url('../img/sprite.svg#expertise');
          mask-image: url('../img/sprite.svg#expertise');
          width: 69px;
          height: 45px;
        }
      }

      &--customization {
        &::before {
          -webkit-mask-image: url('../img/sprite.svg#customization');
          mask-image: url('../img/sprite.svg#customization');
          width: 64px;
          height: 60px;
        }
      }

      &--service {
        &::before {
          -webkit-mask-image: url('../img/sprite.svg#service');
          mask-image: url('../img/sprite.svg#service');
          width: 60px;
          height: 64px;
        }
      }
    }


		&__title {
      margin: 0;
      margin-bottom: 17px;
      font: var(--Heading-7);
      color: var(--greyscale-white);
    }

		&__text {
      margin: 0;
      font: var(--Body-2);
      color: var(--greyscale-grey-1);
    }
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-image: var(--main-colors-linear);

    &--twitter {
      .social__link {
        svg {
          width: 19px;
          height: 15px;
        }
      }
    }

    &--facebook {
      .social__link {
        svg {
          width: 10px;
          height: 20px;
        }
      }
    }

    &--instagram {
      .social__link {
        svg {
          width: 22px;
          height: 22px;
        }
      }
    }

    &--github {
      .social__link {
        svg {
          width: 21px;
          height: 20px;
        }
      }
    }

  }

  &__link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    width: 43px;
    height: 43px;
    color: var(--greyscale-white);
    background-color: var(--greyscale-black-100);
    transition: background-color 0.3s;

    svg {
      fill: currentColor;
      transition: fill 0.3s;
    }

    @include focus-visible;

    @include hover {
      background-color: var(--main-colors-purple);
    }

    &:active {
      svg {
        fill: var(--greyscale-black-80);
      }
    }
  }

}
