.section-offset {
  padding: 75px 0;

  @include small-tablet {
    padding: 50px 0;
  }
}

.main-title {
  margin: 0;
  font: var(--Heading-1);
  font-size: adaptive_px(56, 1232, 64);
  letter-spacing: -0.01em;
  color: var(--greyscale-white);

  @include tablet {
    font: var(--Heading-3);
  }
}

.post-category {
  display: inline-block;
  border-radius: 16px;
  padding: 2px 10px;
  font: var(--Caption-2);
  color: var(--greyscale-white);
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s;

  @include focus-visible;

  @include hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: var(--greyscale-black-100);
  }
}

.post-link-title {
  display: inline-block;
  color: var(--greyscale-white);

  @include focus-visible;

  @include hover {
    .post-title {
      color: var(--main-colors-purple);
    }
  }

  &:active {
    .post-title {
      color: var(--greyscale-black-100);
    }
  }
}

.post-title {
  margin: 0;
  font: var(--Heading-9);
  color: var(--greyscale-white);
  transition: color 0.3s;

  @include small-tablet {
    font: var(--Heading-11);
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item {
    position: relative;
    padding-left: 28px;
    font: var(--Body-3);
    color: var(--greyscale-white);
    background-position: left 5px;
    background-size: 16px;
    background-repeat: no-repeat;
  }
}
