<section class="articles-section">
  <div class="container">
    <div class="articles-section__header header-block">
      <div class="header-block__top">
        <div class="header-block__label">Our articles</div>
        <h2 class="header-block__title">Stay Up-to-Date with Our VR Insights</h2>
      </div>
      <a href="#" class="header-block__btn btn btn--transparent">
        <span>see all</span>
      </a>
    </div>
    <div class="articles-section__bottom">
      <div class="articles-section__left">
        <h3 class="articles-section__left-title">Popular Article</h3>
        <div class="articles-section__slider articles-slider">
          <div class="articles-slider__swiper swiper">
            <div class="articles-slider__wrapper swiper-wrapper">
              <div class="articles-slider__slide swiper-slide">
                <article class="articles-slider__post" style="background-image: url('img/posts/01@2x.jpg');">
                  <div class="articles-slider__post-body">
                    <a href="#" class="articles-slider__category post-category">VR Games</a>
                    <a class="articles-slider__slide-title-link" href="#">
                      <h4 class="articles-slider__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h4>
                    </a>
                  </div>
                </article>
              </div>
              <div class="articles-slider__slide swiper-slide">
                <article class="articles-slider__post" style="background-image: url('img/posts/05@2x.jpg');">
                  <div class="articles-slider__post-body">
                    <a href="#" class="articles-slider__category post-category">VR Architecture</a>
                    <a class="articles-slider__slide-title-link" href="#">
                      <h4 class="articles-slider__slide-title">Bringing Designs to Life: How VR is Changing Architecture</h4>
                    </a>
                  </div>
                </article>
              </div>
              <div class="articles-slider__slide swiper-slide">
                <article class="articles-slider__post" style="background-image: url('img/posts/06@2x.jpg');">
                  <div class="articles-slider__post-body">
                    <a href="#" class="articles-slider__category post-category">VR Games</a>
                    <a class="articles-slider__slide-title-link" href="#">
                      <h4 class="articles-slider__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h4>
                    </a>
                  </div>
                </article>
              </div>
              <div class="articles-slider__slide swiper-slide">
                <article class="articles-slider__post" style="background-image: url('img/posts/07@2x.jpg');">
                  <div class="articles-slider__post-body">
                    <a href="#" class="articles-slider__category post-category">VR Games</a>
                    <a class="articles-slider__slide-title-link" href="#">
                      <h4 class="articles-slider__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h4>
                    </a>
                  </div>
                </article>
              </div>
            </div>
            <button class="articles-slider__next btn btn--icon swiper-button-next">
              <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
            </button>
          </div>
          <div class="articles-slider__pagination swiper-pagination"></div>
        </div>
      </div>
      <div class="articles-section__right">
        <h3 class="articles-section__right-title articles-section__title--recent">Recent Article</h3>
        <div class="articles-section__scroll-inner" data-simplebar>
          <div class="articles-section__posts">
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/09.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Education</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">The Future of Education: How VR is Revolutionizing the
                    Classroom
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/07.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Games</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Entertainment Goes Virtual: The Rise of VR Gaming
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/08.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Education</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">The Future of Education: How VR is Revolutionizing the
                    Classroom
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/03.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Entertainment </a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Making Events Memorable: The Power of VR for Corporate and Special Occasions
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/04.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Event</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Exploring New Worlds: The Benefits of VR Travel
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/05.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Architecture</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Bringing Designs to Life: How VR is Changing Architecture
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/06.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Games</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Entertainment Goes Virtual: The Rise of VR Gaming
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/01.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Games</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Entertainment Goes Virtual: The Rise of VR Gaming
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
            <div class="articles-section__post articles-post">
              <a href="#" class="articles-post__img-link">
                <img class="articles-post__img" width="142" height="91" src="img/posts/02.jpg" alt="man play race game">
              </a>
              <div class="articles-post__body">
                <a href="#" class="articles-post__category post-category">VR Games</a>
                <a class="post-link-title" href="#">
                  <h4 class="post-title">Entertainment Goes Virtual: The Rise of VR Gaming
                  </h4>
                </a>
              </div>
              <a class="articles-post__btn btn btn--icon" href="#">
                <img src="img/svg-no-sprite/arrow-right.svg" aria-hidden="true" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centered">
      <a href="#" class="articles-section__btn btn btn--transparent">
        <span>see all</span>
      </a>
    </div>
  </div>
</section>
