<section class="hero" data-msi-watcher>
  <div class="container hero__container">
    <div class="hero__top grid">
      <div class="hero__content content-hero">
        <div class="header-block hero__header">
          <h1 class="header-block__title header-block__title--main">Immerse Yourself in Virtual Reality</h1>
          <div class="header-block__text">
            <p>
              Experience Unforgettable Events in VR. Bring your events to life like never
              before with our VR services
            </p>
          </div>
          <a href="#" class="header-block__btn btn">
            <span>discover more</span>
          </a>
        </div>
        <div class="content-hero__info">
          <div class="content-hero__clients">
            <div class="content-hero__clients-images">
              <img class="content-hero__clients-img" width="50" height="50" src="img/clients/client-1.png"
                alt="Client 1">
              <img class="content-hero__clients-img" width="50" height="50" src="img/clients/client-2.png"
                alt="Client 2">
              <img class="content-hero__clients-img" width="50" height="50" src="img/clients/client-3.png"
                alt="Client 3">
            </div>
            <p class="content-hero__clients-descr">
              <span>32k+</span> Happy Client
            </p>
          </div>
          <div class="content-hero__video thumb-video thumb-video--hero">
            <button class="btn-reset thumb-video__btn lazy-play" data-lazy-btn="hero" data-lazy-iframe data-graph-path="hero" data-video-src="https://www.youtube.com/embed/80IIEnSNwQc?si=YErQQImF3CwyXVK7" aria-label="Play video">
              <img class="thumb-video__btn-img" src="img/thumbs/hero.png" width="124" height="124" aria-hidden="true" loading="lazy" alt="">
              <svg class="thumb-video__btn-play">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hero__images">
        <div class="hero__img-block">
          <img class="hero__img" width="526" height="626" src="img/hero.png" aria-hidden="true" alt="">
        </div>
      </div>
    </div>
    @include('../../partials/components/advantages.html')
  </div>
</section>
